#dialog-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #666666;
  opacity: .75;
  filter: alpha(opacity=75);
  height: 750px;
}
#content {
  padding: 20px;
}
#dialog {
  position: absolute;
  z-index: 200;
  background: #fff;
  border: 3px solid #058a9d;
}
#dialog-header {
  display: block;
  position: relative;
  width: 411px;
  padding: 3px 6px 7px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
}
#dialog-title {
  float:left;
}
#dialog-content {
  display:block;
  color:#666666;
  font-size:13px;
}

